@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

.ease-in-animation {
  @apply transition duration-500 ease-in-out;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */

@media (min-width: 1024px) {
  .btn-menu {
    display: none;
    position: relative;
  }
}


/* simple 포토카드 */
.wrap {z-index:2000;position: absolute; margin:5px;left: 0;bottom: 40px; width: 250px;height: 230px;border-radius:10px;box-shadow: 2px 2px rgb(173, 173, 173); margin-left: -144px; text-align: left; overflow: hidden;}
.wrap * {padding: 0;margin: 1px;font-family: "BMHANNAAir";}
.info {position: relative;}
.wrap .info {width: 250px;height: 230px;border-radius: 5px;border-bottom: 2px solid #ccc;overflow: hidden;background: #fff;}
.info .title {margin: 8px; position:'center'; width:240px;height: 30px;font-size: 22px;font-weight: bold; }
.info .close {margin:3px;position: absolute;top: 10px;right: 10px;width: 17px;height: 17px;background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png');}
.info .close:hover {cursor: pointer;}
.info .body {position: relative; height: 180px; overflow: hidden; }
.desc .spvInfo {overflow: hidden;text-overflow: ellipsis; height: 30px;width: 240px;white-space: nowrap;margin-right: -20px;font-family: "BMHANNAAir"; padding: 3px; ; font-size: 18px;}
.body .img {position: absolute;top: 60px; left:9px;width: 225px; height: 150px;object-fit: cover;border-radius: 5px;}
.img .imgAt {display:block; margin:auto}
.desc .moreInfo {margin-left:190px; font-weight: bold;}
.desc .moreInfo:hover {cursor: pointer;}
.desc .toMap {margin-left:120px; margin-top: -25px; font-weight: bold;}
.desc .toMap:hover {cursor: pointer;}


/*디테일뷰 */
/* .wrap2 {display:flex; z-index:2010;position: absolute; left: 10; bottom: 23px; width: 650px; height: 300px; margin-left: -144px;text-align: left;overflow: hidden;border-radius:10px;box-shadow: 2px 2px rgb(173, 173, 173);} */
/*전체*/.wrap2 {display:flex; z-index:2010;position: absolute; left: 10; bottom: 23px; width: 55vw; height: 300px; margin-left: -144px;text-align: left;overflow: hidden;border-radius:10px;box-shadow: 2px 2px rgb(173, 173, 173);}
.wrap2 * {font-family: "BMHANNAAir";}
/*백그라운드 컬러*/.wrap2 .info2 {width: 55vw; height: 490px; border-radius: 5px;overflow: hidden;background:white;}
.info2 .title2 {margin-top:3px; margin-bottom:-5px;text-align: center; font-size: 25px;font-weight: bold;}
.info2 .close2 {margin-top: 5px; position: absolute;top: 10px;right: 10px;color: #888;width: 17px;height: 17px;background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png');}
/* .info2 .toMap {position : absolute;top: 130px;left:80%;font-size:10px;} */
.body2 {display:flex; position:absolute;font-size: 17px; font-weight: bold;}
.body2 .img2 {text-align:center; height:200px; padding: 10px 10px 10px 10px; /*object-fit: contain;*/}
.img2 .img2At {display:block; margin:auto; min-width:220px; width:300px;}
.desc2 {cursor: move;height:185px; margin-top: 8px; padding: 10px 15px 10px 15px;white-space: normal;overflow-y: auto; -webkit-user-drag: auto;}
.desc2 .adr{padding: 20px 0px 0px 0px; margin-bottom: 25px; width:400px}
.desc2 .toMap2 {position:relative; margin: -25px 0px 0px 400px;}
.desc2 .toMap2:hover {cursor: pointer;}
.desc2 .specInfo {position: relative;margin-bottom:20px;}


/* Weather.jsx */
#weatherRight {position:reverse; right:0px; width:300px;}






/*글꼴*/
@font-face {
  font-family: 'Gamja Flower', cursive;
  src: url("./font/GamjaFlower-Regular.ttf")
}

@font-face {
  font-family: 'BMHANNAAir';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.0/BMHANNAAir.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


#sidebar {
  font-family: 'Gamja Flower', cursive;
}


